.accordian{
    display:block;
}
.content{
    width:fit-content;
    height: 3rem;
    background-color: cadetblue;
    padding:20px;
    font-size: 1.5rem;;
}

.accordian-head {
    display: inline-block;

    width: 50%;
    height: 3rem;
    background-color: beige;

}
.accordian-head div{
    margin:10px;
    font-size: 2rem;
}
.accordian-head img{
    width:3rem;
    float:right;
}
